
/* Index.jsp*/

table{
    margin: 30px 35px;
    border: 2px solid black; 
}

tr th{
    background-color:rgba(51, 49, 49, 0.952);
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    color: white;
}

tr td{
    text-align: justify;
    border: 2px solid black;
    padding: 8px; 
}

h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 33px;
}

.user{
    text-align: center;
    font-size: 5mm;
    color: white;
    padding-right: 1560px;
}

/*frmlogin.jsp*/

.formstyle{
    padding-left: 33px;
}

.tituloform{
  padding-top: 10px;
  font-size: 30px; 
}

.etiquetas{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.boton{
    background-color: rgba(197, 194, 194, 0.952);
    font-size: 19px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.boton:hover{
    background-color: rgb(212, 235, 255);
    font-size: 19px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.errormessage{
    padding-left: 33px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 8, 8);
}

/*frmupdate*/

.h1title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 10px;
    color: blue;
}

.formsytleupdate, .forminsert{
    padding-left: 33px;
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/*update.jsp y eliminar.jsp*/

.resultupdate, .resultdelete, .resultinsert{
    font-size: 19px;
    padding-left: 33px;
}

.linkaceptar{
    margin-left: 350px;
    color: rgb(1, 3, 158);
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.linkaceptar:hover{
    margin-left: 350px;
    color: rgb(52, 114, 231);
    text-decoration: none;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.biblioteca{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}







